@import '../../global';

// Consideration for mobile by default.
.Projects {
  .header {
    @include header-main($projects-theme);
  }

  .item {
    position: relative;
    margin: 0 0 12% 0;

    .name {
      margin: 0 0 0 0;
      font-size: $size-h0;
      font-weight: 100;

      a {
        text-decoration: none;
        color: $foreground;
        @include neat-link($projects-theme);

        .host {
          font-size: $size-small;
          color: $projects-theme;
        }
      }
    }

    .tech-list {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      margin: 1% 0 0 0;
      padding-left: 0;
      white-space: nowrap;
      color: $white;

      .tech-item {
        margin: 0 2% 0 0;
        font-size: $size-normal;
      }
    }

    .description {
      font-size: $size-normal;
      text-align: justify;
    }
  }
}

.desktop .Projects .item {
  margin: 0 0 10% 0;

  .name a {
    color: $background;
    @include neat-link($projects-theme);

    .host {
      color: $gray-0;
    }
  }

  .tech-list {
    color: $gray-0;
  }
}