@import '../../global';

// Consideration for mobile by default.
.Projects {
  .header {
    @extend %header-main;
  }

  .item {
    position: relative;
    margin: 0 0 10% 0;

    .name {
      margin: 0 0 0 0;
      font-size: $size-h0;
      font-weight: 100;

      a {
        text-decoration: none;
        color: $cyan-2;

        .host {
          font-size: $size-small;
          color: $gray-3;
        }
      }
    }

    .tech-list {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      margin: 1% 0 0 0;
      padding-left: 0;
      white-space: nowrap;
      color: $white;

      .tech-item {
        margin: 0 2% 0 0;
        font-size: $size-normal;
      }
    }

    .description {
      font-size: $size-normal;
      text-align: justify;
    }
  }
}

.desktop .Projects .item {
  .name a {
    color: $cyan-1;

    .host {
      color: $gray-0;
    }
  }

  .tech-list {
    color: $gray-0;
  }
}