@import '../../global';

.Employment {
  .header {
    @extend %header-main;
  }

  .item {
    margin: 0 0 10% 0;

    hgroup {
      .position {
        margin: 0 0 0 0;
        font-size: $size-h0;
        font-weight: 100;
      }

      .employer {
        margin: 1% 0 0 0;
        font-size: $size-h1;
        font-weight: 100;
        color: $gray-1;
      }

      .location {
        margin: 1% 0 0 0;
        font-size: $size-normal;
      }

    }

    .duties {
      font-size: $size-normal;
      text-align: justify;
    }
  }
}
