@import '../../global';

// Consideration for mobile by default.
.Employment {
  .header {
    @include header-main($employment-theme);
  }

  .item {
    margin: 0 0 12% 0;

    hgroup {
      .position {
        margin: 0 0 0 0;
        font-size: $size-h0;
        font-weight: 100;
      }

      .employer {
        margin: 1% 0 0 0;
        font-size: $size-h1;
        font-weight: 100;
        color: $gray-2;
      }

      .location {
        margin: 1% 0 0 0;
        font-size: $size-normal;
      }
1
      .dates {
        font-weight: 100;
        color: $gray-2;
      }
    }

    .duties {
      font-size: $size-normal;
      text-align: justify;
    }
  }
}

.desktop .Employment .item {
  margin: 0 0 10% 0;

  .employer, .dates {
    color: $gray-1;
  }
}
