@import '../../global';

.Contact {
  font-style: normal;

  .header {
    @extend %header-aux;
  }

  .list {
    font-size: $size-normal;

    .item {
      margin: 2% 0 0 0;

      .email, .linkedin, .github {
        text-decoration: none;
        color: $cyan-2;

        @include neat-link($cyan-1);
      }
    }
  }
}