@import '../../global';

.Contact {
  font-style: normal;

  .header {
    @extend %header-aux;
    color: $contact-theme;
  }

  .list {
    font-size: $size-normal;

    .item {
      margin: 4% 0 0 0;

      .icon {
        width: $size-normal;
        margin: 0% 2% 0 0;
      }

      .text {
        position: relative;
        bottom: 1.5pt;
      }

      .email, .linkedin, .github {
        text-decoration: none;
        color: $contact-theme;

        @include neat-link($comment);
      }
    }
  }
}