@import '../../global';

.Header {
  text-align: center;

  .name {
    font-weight: 100;
    font-size: $size-name;

    .first {
      font-style: normal;
      color: $cyan-1;
    }

    .last {
      color: $gray-0;
    }
  }

  .title {
    font-weight: 100;
    font-size: $size-header;
  }
}