@import '../../global';

// Consideration for mobile by default.
.Header {
  .name {
    @extend %header-common;
    margin: 10% 0 0 0;
    font-size: $size-name;

    .first {
      font-style: normal;
      color: $foreground;
    }

    .last {
      color: $gray-1;
    }
  }

  .title {
    @extend %header-common;
    margin: 2% 0 0 0;
    font-size: $size-header;
    color:$comment;
  }
}

.desktop .Header .name {
  .first {
    color: $background;
  }

  .last {
    color: $gray-0;
  }
}
