@import '../../global';

.Education {
  .header {
    @extend %header-aux;
  }

  .item {
    margin: 0 0 10% 0;

    .institution {
      margin: 0 0 1% 0;
      font-size: $size-h2;
      font-weight: 100;
    }

    .discipline, .note {
      margin: 0 0 0 0;
      font-size: $size-normal;
      font-weight: 100;
      color: $white;
    }
  }
}

.desktop .Education .item {
  .discipline, .note {
    color: $cyan-2;
  }
}