@import '../../global';

.Skills {
  .header {
    @extend %header-aux;
  }

  .skill-item {
    .type {
      margin: 0 0 0 0;
      font-size: $size-normal;
    }

    .type-list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 10% 0;
      padding: 0 0 0 0;
      list-style: none;
      font-size: $size-normal;

      .type-item {
        margin: 0 2% 0 0;
      }
    }
  }

  .disclaimer {
    font-size: $size-normal;
    color: $gray-1;
  }
}