$cyan-0: #134f5cff;
$cyan-1: #45818e;
$cyan-2: #a2c4c9;

$gray-0: #666;
$gray-1: #888;
$gray-2: #ccc;

$black: #000;
$white: #fff;

$size-name: 31pt;
$size-header: 18pt;

$size-h0: 14pt;
$size-h1: 13pt;
$size-h2: 12pt;

$size-normal: 10pt;
$size-small: 9pt;

$mobile-width: 768px;

$side-margins: 0 5% 0 5%;

%header-common {
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}

%header-spacing {
  margin: 15% 0 0 0;
  padding: 0 0 5% 0;
}

%header-aux {
  @extend %header-common;
  @extend %header-spacing;
  font-size: $size-header;
  border-bottom: solid 1pt;

  @media (min-width: $mobile-width) {
    margin: 25% 0 0 0;
    font-size: $size-h0;
  }
}

%header-main {
  @extend %header-common;
  @extend %header-spacing;
  font-size: $size-header;
  border-bottom: solid 1pt;

  @media (min-width: $mobile-width) {
    margin: 10% 0 0 0;
    color: $cyan-1;
  }
}