$cyan-0: #134f5cff;
$cyan-1: #45818e;
$cyan-2: #a2c4c9;

$gray-0: #666;
$gray-1: #b7b7b7;

$black: #000;
$white: #fff;

$mobile-width: 480px;

$size-name: 31pt;
$size-header: 18pt;

$size-h0: 14pt;
$size-h1: 13pt;
$size-h2: 12pt;

$size-normal: 9pt;