.Resume {
  .list {
    list-style: none;
  }

  @media (min-width: 480px) {
    display: flex;
    justify-content: center;
    flex-flow: row;

    .desktop-left {
      flex: 2;
    }

    .desktop-right {
      flex: 1;
    }
  }
}