@import 'global';

.Resume {
  display: flex;
  flex-direction: column;

  .list {
    list-style: none;
  }

  @media (min-width: $mobile-width) {
    flex-direction: row;

    .desktop-left { flex: 2; }
    .desktop-right { flex: 1; }
  }
}