@import 'global';

// Consideration for mobile by default.
body {
  background: $background;
}

.Resume {
  font-family: Comfortaa;
  color: $white;

  .list {
    padding-left: 0;
    list-style: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    margin: $side-margins;
  }

  @media (min-width: $mobile-width) {
    background: $gray-3;

    .mobile {
      display: none;
    }

    .desktop {
      display: flex;
      max-width: 73em;
      margin: auto;
      color: $background;

      .left {
        flex: 5;
        padding: $side-margins;
        background: $white;
      }

      .right {
        flex: 3;
        padding: $side-margins;
        background: $background;
        color: $white;
      }
    }
  }
}
